
<div class="divider"></div>
<section class="tvsection">
  <div class="row mostPopular">
    <!-- Main On Tv tonight result -->
<div class="mostPopular col s12 m6"> 
<div class="card">
            <div class="card-image">
              <img ng-src="http://image.tmdb.org/t/p/w780{{airToday.data.results[0].backdrop_path}}">
              <span class="card-title">{{airToday.data.results[0].name}}</span>
            </div>
</div>
</div>
<div class="mostPopular col s12 m6">
<!-- Right side results -->
<!-- <div class="popularPlayingNow col s6 m3"> 
<div class="card">
            <div class="card-image">
              <img ng-src="http://image.tmdb.org/t/p/w780{{airToday.data.results[1].backdrop_path}}">
              <span class="card-title">{{airToday.data.results[1].name}}</span>
            </div>
</div>
</div> -->
<!-- First Row Right Side -->
<div class="row">
<div ng-repeat="result in airToday.data.results | limitTo:2:1" class="mostPopular col s6 m6"> 
<div class="card">
            <div class="card-image">
              <img ng-src="http://image.tmdb.org/t/p/w780{{result.backdrop_path}}">
              <span class="card-title">{{result.name}}</span>
            </div>
</div>
</div>
</div>
<div class="row">
  <!-- Second Row Right Side -->
<div ng-repeat="result in airToday.data.results | limitTo:2:3" class="mostPopular col s6 m6"> 
<div class="card">
            <div class="card-image">
              <img ng-src="http://image.tmdb.org/t/p/w780{{result.backdrop_path}}">
              <span class="card-title">{{result.name}}</span>
            </div>
</div>
</div>
</div>

</div>
</section>
