
<div class="divide col s12 indigo darken-3">
 <div><h2 class="white-text">Current Popular TV Shows</h2></div>
</div>
<!-- Most Popular Tv Shows Section -->
<section class="tvsection">
  <div class="row mostPopularFull">
<!-- Large Left result -->
<div class="leftContainer imgBlock col s12 m5"> 
  <img class="responsive-img" ng-src="http://image.tmdb.org/t/p/w780{{airToday.data.results[0].backdrop_path}}">
    <h3>{{airToday.data.results[0].name}}</h3>
   
 </div>
 <!-- Right side grid -->
 <div class="rightContainer col s12 m7">
   <div ng-repeat="result in airToday.data.results | limitTo:4:1" class="imgBlock col s6 m6"> 
  <img class="responsive-img" ng-src="http://image.tmdb.org/t/p/w780{{result.backdrop_path}}">
    <h3>{{result.name}}</h3>
   
 </div>
</div>


 </div> 
<!-- End Row  -->



</section>
<!-- End Section -->


<!-- Upcoming Movies Section -->
<section class="mainMovies">
  <div class="titleContainer col s4">
  <h2 class="sectionTitle">Most Anticipated Movies</h2>
</div>
  <div class="container row movieContainer">
<!-- Left Section -->
<div class="leftContent col s12 m8 left">
  <!-- Inner Left -->
  <div class="innerLeft col s12 m6">
    <div class="card">
            <div class="card-image">
              <img ng-src="http://image.tmdb.org/t/p/w342{{comingSoon.data.results[0].poster_path}}">
              
            </div>
            <div class="card-content">
              <h3>{{comingSoon.data.results[0].title}}</h3>
              <p>Release Date: {{comingSoon.data.results[0].release_date | date:'shortDate'}}</p>
              <p>{{comingSoon.data.results[0].overview | limitTo: 200}}{{comingSoon.data.results[0].overview.length > 20 ? '&hellip;' : ''}}</p>
            </div>
  </div>

</div>



<!--  Inner Right  -->
<div class="innerRight col s12 m6">
 
  <ul>
    <li ng-repeat="movie in comingSoon.data.results | limitTo:8:1">
      <!-- thumbnail -->
       <div class="col s12 item-wrapper row z-depth-2">
      <div class="item-thumbnail col s3 left">
        <img class="responsive-img" ng-src="http://image.tmdb.org/t/p/w92{{movie.poster_path}}" onerror="this.src='/images/movietv.png'">
      </div>
      <!-- header -->
      <div class="item-content col s9 left">
        <h2 class="item-title">{{movie.title}}</h2>
        <div class="item-date">Release Date: {{movie.release_date | date:'shortDate'}}</div>
        </div>
      </div>
    </li>

  




</ul>
</div>


</div>
<!-- End of Inner Right -->

<div class="col s12 m4 rightSection">
  <div class="rightTitle center">
    <h2>On TV</h2>
  </div>
   <ul>
    <li ng-repeat="tv in onTV.data.results | limitTo:7:1">
      <!-- thumbnail -->
       <div class="col s12 item-wrapper row z-depth-2">
      <div class="item-thumbnail col s3 left">
        <img class="responsive-img" ng-src="http://image.tmdb.org/t/p/w92{{tv.poster_path}}" onerror="this.src='/images/movietv.png'">
      </div>
      <!-- header -->
      <div class="item-content col s9 left">
        <h2 class="item-title">{{tv.name}}</h2>
        <div class="item-date">Rating: {{tv.vote_average}} of 10</div>
        </div>
      </div>
    </li>

  




</ul>

</div>
</div>
<!-- End Left Content -->
<!-- Right Section -->

</div>
</section>
<!-- End Section -->
