
<div class="divide col s12 indigo darken-3">
 
</div>
<section class="tvsection">
  <div class="row mostPopularFull">
    <!-- Large Left result -->
<!-- <div class="leftContainer imgBlock col s12 m6"> 
  <img class="responsive-img" ng-src="http://image.tmdb.org/t/p/w780{{airToday.data.results[0].backdrop_path}}">
    <h3>{{airToday.data.results[0].name}}</h3>
   
 </div>
Right side results
<div class="rightContainer col s12 m6">

First Row Right Side
<div class="row rightTop">
  <div ng-repeat="result in airToday.data.results | limitTo:2:1" class="imgBlock col s6 m6"> 
  <img class="responsive-img" ng-src="http://image.tmdb.org/t/p/w780{{result.backdrop_path}}">
    <h3>{{result.name}}</h3>
   
 </div>
</div>

 <div class="row rightBottom">
  <div ng-repeat="result in airToday.data.results | limitTo:2:3" class="imgBlock col s6 m6"> 
  <img class="responsive-img" ng-src="http://image.tmdb.org/t/p/w780{{result.backdrop_path}}">
    <h3>{{result.name}}</h3>
   
 </div>
</div>




</div> -->
<!-- Next Try -->
<!-- Large Left result -->
<div class="leftContainer imgBlock col s12 m6"> 
  <img class="responsive-img" ng-src="http://image.tmdb.org/t/p/w780{{airToday.data.results[0].backdrop_path}}">
    <h3>{{airToday.data.results[0].name}}</h3>
   
 </div>
 <!-- Right side -->
 <div class="rightContainer col s12 m6">
   <div ng-repeat="result in airToday.data.results | limitTo:4:1" class="imgBlock col s6 m6"> 
  <img class="responsive-img" ng-src="http://image.tmdb.org/t/p/w780{{result.backdrop_path}}">
    <h3>{{result.name}}</h3>
   
 </div>
</div>


 </div>



</div>
</section>
