<!-- Navbar -->
   <header class="">
<nav class="indigo darken-4">
  <div class="nav-wrapper">
    <span class="brand-logo">Entertainment Search</span>
    <ul id="nav-mobile" class="right hide-on-med-and-down white-text">
      <li><a class="white-text" href="/">Home</a></li>
      <li class="active"><a  class="white-text" href="/movies">Movies</a></li>
     <li><a class="white-text" href="/tv">TV Shows</a></li>
     
<li><a href="/search"><i class="material-icons">search</i></a></li>
    </ul>
     
  </div>
</nav>
</header>
<!-- End Navbar -->

<div class="container">

<!-- Display Grid -->
<div class="row">
  <h4>Popular Movies</h4>
	 <div ng-repeat = "movie in results.data.results" class="col s6 m2 repeat-list-item">
    <a ui-sref="mdetail" ng-click="share(movie.id)">
          <div class="card medium">
            <div class="card-image">
              <img ng-src="http://image.tmdb.org/t/p/w185/{{movie.poster_path}}">
              
            </div>
            <div class="card-panel indigo" >
              <p class="overview white-text">{{movie.overview | limitTo:60}}{{movie.overview.length > 60 ? '&hellip;' : ''}}</p>
            </div>
          </div>
        </a>
        </div>


</div>

</div>

<!-- End Container div -->
</div>


