<!-- Navbar -->
   <header class="">
<nav class="indigo darken-4">
  <div class="nav-wrapper">
    <span class="brand-logo">Entertainment Search</span>
    <ul id="nav-mobile" class="right hide-on-med-and-down white-text">
      <li><a class="white-text" href="/">Home</a></li>
      <li><a  class="white-text" href="/movies">Movies</a></li>
     <li><a class="white-text" href="/tv">TV Shows</a></li>
    <li class="active"><a href="/search"><i class="material-icons">search</i></a></li>
  </ul>
  </div>
</nav>
</header>
<!-- End Navbar -->
<!-- Search form -->
<div class="container">
<div class="search-form row">
	<form class="col s12" ng-submit="search()">
		<div class="row" ng-show="!Searching">
			<!-- Input Field -->
			<div class="inputField col s6">
			<i class="material-icons">search</i><input placeholder = "Search for" id="searchInput" type="text" ng-model="searchTerm">
		</div>
		<!-- Select Field -->
		<div class="input-field col s6">
			<p>
      <input name="group1" type="radio" id="test1" />
      <label for="test1">Movies</label>
    </p>
    <p>
      <input name="group1" type="radio" id="test2" />
      <label for="test2">TV Shows</label>
    </p>
		</div>
		</div>

		<!-- Spinner if Searching -->

  <div class="preloader-wrapper active center-align" ng-if="Searching">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <!-- End Spinner -->
		

	</form>
<!-- End Form -->




</div>
<div class="row">
  
	 <div ng-repeat = "result in results.data.results" class="col s6 m2 repeat-list-item">
    <a ui-sref="mdetail" ng-click="share(movie.id)">
          <div class="card medium">
            <div class="card-image">
              <img ng-src="http://image.tmdb.org/t/p/w185/{{result.poster_path}}">
              
            </div>
            <div class="card-panel indigo" >
              <p class="overview white-text">{{movie.overview | limitTo:60}}{{result.overview.length > 60 ? '&hellip;' : ''}}</p>
            </div>
          </div>
        </a>
        </div>


</div>


</div>