<!-- Navbar -->
   <header>
<nav class="indigo darken-4">
  <div class="nav-wrapper">
    <span class="brand-logo hide-on-med-and-down">ETV Search</span>
<!--Full sized Nav  -->
    <ul id="nav-full" class="right hide-on-med-and-down white-text">
      <li><a class="white-text" href="/">Home</a></li>
      <li><a  class="white-text" href="/movies">Movies</a></li>
     <li><a class="white-text" href="/tv">TV Shows</a></li>
     </ul>
     <!-- Mobile Button -->
        <a href="#" class="button-collapse" data-activates="mobile-nav" data-sidenav="left" data-closeonclick="true" data-menuwidth="100">
           <i class="material-icons">menu</i>
</a>
<!-- Mobile Sidenav Menu -->
   <ul id="mobile-nav" class="black-text side-nav">
      <li><a class="black-text" href="/">Home</a></li>
      <li><a  class="black-text" href="/movies">Movies</a></li>
     <li><a class="black-text" href="/tv">TV Shows</a></li>
     </ul>

  </div>
</nav>
</header>
<!-- End Navbar -->
  

  <div class="container">
	<div class="row">
		<!-- Poster -->
		<div class="posterContainer col s12 m3">
	<img ng-src="https://image.tmdb.org/t/p/w185/{{results.data.poster_path}}" class="responsive-image" onerror="this.src='/images/movietv.png'">
</div>

	<div class="col s12 m9 white-text">
	<!-- Title -->
	<span class="title">
		<h3>{{results.data.name}}</h3>
	</span>
	<!-- Release Date -->
	<p>Release Date: {{results.data.release_date | date:'longDate'}}</p>
	<!-- Description -->
	<span class="description">{{results.data.overview}}</span>
	<!-- Rating -->
	<p>Rating: {{results.data.vote_average}} of 10.0</p>
	<!-- Homepage -->
	<p><span class="homepage"><a ng-href="{{results.data.homepage}}">HOMEPAGE</a></span></p>

</div>
</div>

<div class="row">
<!-- bottom image -->
<div class="col s12 moviefoot"><img class="responsive-img" ng-src="https://image.tmdb.org/t/p/w1280{{results.data.backdrop_path}}" onerror="this.src='/images/movietv.png'"></div>
</div>




