<div class="container">


<!-- Display Grid -->
<div class="row">
  <h4>Popular TV Shows</h4>
	 <div ng-repeat = "tv in results.data.results" class="col s6 m2">
    <a ui-sref="tdetail" ng-click="share(tv.id)">
          <div class="card medium">
            <div class="card-image">
              <img ng-src="http://image.tmdb.org/t/p/w185/{{tv.poster_path}}">
              
            </div>
            <div class="card-panel indigo">
            	<p class="overview white-text">{{tv.overview | limitTo:60}}{{tv.overview.length > 60 ? '&hellip;' : ''}}</p>
            </div>
          </div>
        </a>
        </div>


</div>


<!-- Container div -->
</div>

