<div class="container">
	<!-- Search Form -->
<div class="row center-align">
	<form ng-submit="search()">
		<input placeholder="Search for" id="tvSearch" type="text" class="validate" ng-model="searchTerm">
  </form>
</div>
<!-- Display Grid -->
<div class="row">
  <h4>Most Popular TV Shows</h4>
	 <div ng-repeat = "tv in results.data.results" class="col s6 m2">
    <a ui-sref="tdetail" ng-click="share(tv.id)">
          <div class="card medium">
            <div class="card-image">
              <img ng-src="http://image.tmdb.org/t/p/w185/{{tv.poster_path}}">
              
            </div>
            <div class="card-content">
            	<span class="tv-title">{{tv.name}}</span>
              <p>{{tv.vote_average}} of 10</p>
            </div>
          </div>
        </a>
        </div>


</div>


<!-- Container div -->
</div>

