<!-- Navbar -->
   <header>
<nav class="indigo darken-4">
  <div class="nav-wrapper">
    <span class="brand-logo hide-on-med-and-down">ETV Search</span>
<!--Full sized Nav  -->
    <ul id="nav-full" class="right hide-on-med-and-down white-text">
      <li><a class="white-text" href="/">Home</a></li>
      <li><a  class="white-text" href="/movies">Movies</a></li>
     <li class="active"><a class="white-text" href="/tv">TV Shows</a></li>
     </ul>
     <!-- Mobile Button -->
        <a href="#" class="button-collapse" data-activates="mobile-nav" data-sidenav="left" data-closeonclick="true" data-menuwidth="100">
           <i class="material-icons">menu</i>
</a>
<!-- Mobile Sidenav Menu -->
   <ul id="mobile-nav" class="black-text side-nav">
      <li><a class="black-text" href="/">Home</a></li>
      <li><a  class="black-text" href="/movies">Movies</a></li>
     <li class="active"><a class="black-text" href="/tv">TV Shows</a></li>
     </ul>

  </div>
</nav>
</header>
<!-- End Navbar -->

<div class="container">
  <!-- Search Form -->
  <div class="search-form row">
    <form class="col s12" ng-submit="search()">
    <div class="row">
      <!-- Input Field -->
      <div class="inputField col s6 white-text">
      <input placeholder = "Search for" id="searchInput" type="text" ng-model="searchTerm">
    </div>

    </div>

   

  </form>
<!-- End Form -->




</div>

<!-- Display Grid -->
<div class="row">
 <h4 ng-if="!searching">Popular TV Shows</h4>
  <h4 ng-if="searching">Search Results</h4>
	 <div ng-repeat = "tv in results.data.results" class="col s6 m2 repeat-list-item">
    <a ui-sref="tdetail" ng-click="share(tv.id)">
          <div class="card medium">
            <div class="card-image">
              <img class="innerImage" ng-src="https://image.tmdb.org/t/p/w185/{{tv.poster_path}}" onerror="this.src='/images/movietv.png'">
              
            </div>
            <div class="card-panel indigo">
              <span>{{tv.name}}</span>
            	<p class="overview white-text">{{tv.overview | limitTo:60}}{{tv.overview.length > 60 ? '&hellip;' : ''}}</p>
            </div>
          </div>
        </a>
        </div>


</div>


<!-- Container div -->
</div>

